<mat-toolbar class="app-toolbar">
  <span>Available Apps</span>
</mat-toolbar>
<div class="apps">
  <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>To-do List</mat-card-title>
        <mat-card-subtitle>Manage your list of things to do and keep them organized.</mat-card-subtitle>
        <!-- <img mat-card-sm-image src={{template.logo}} > -->
      </mat-card-title-group>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions align="end">
          <button mat-button routerLink="/todo">Open</button>
        </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>CG-EDGE - Test Client</mat-card-title>
    <mat-card-subtitle>Check the data traffic at CG-EDGE IOT Core Broker.</mat-card-subtitle>
    <!-- <img mat-card-sm-image src={{template.logo}} > -->
  </mat-card-title-group>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions align="end">
      <button mat-button routerLink="/mqtt-client">Open</button>
    </mat-card-actions>
</mat-card>
<div>