<mat-toolbar class="app-toolbar">
    <span>Signals/Records Analyzer</span>
  </mat-toolbar>
<mat-tab-group class="tab-group">
  <mat-tab label="Configuration">
    <div class="apps">
      <mat-card class="parse-card">
        <mat-card-title-group>
          <mat-card-title>Parse Signal List</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <div class="parse-button-row">
            <button class="parse-button" mat-raised-button color="primary" (click)="importSigToParse()">Import XLSX</button>
            <input type="file" #xlsx accept=".xlsx" style="display: none" (change)="onSigToParseAdded()"/>
            <button mat-raised-button [disabled]="parsedSignals==null" (click)="exportParsedSignals()">Export JSON</button>
          </div>
          <mat-card class="inner-card">
            <mat-card-title-group>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content class="inner-card-text" *ngIf="parsedSignals" [innerText]="toString(parsedSignals)"></mat-card-content>
          </mat-card>
        </mat-card-content>
        <mat-card-actions align="end"></mat-card-actions>
      </mat-card>
      <mat-card class="query-card">
        <mat-card-title-group>
          <mat-card-title>Bulk Endpoint Response (/v3/signals/bulk/"amount"/"millis")</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <div class="query-button-row">
            <mat-form-field class="mat-input-medium" appearance="standard">
              <mat-label>TS Interval (ms)</mat-label>
              <input  matInput type="number" min="1000" autocomplete="off" placeholder="1000ms" [(ngModel)]="TsInterval" matTooltip="Interval between two records (ms)">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="importEndpResponse()">Import JSON</button>
            <input type="file" #json accept=".json" style="display: none" (change)="onEndpResponseAdded()"/>
            <button mat-raised-button [disabled]="endpointResponse==null" (click)="exportEndpointResponse()">Export JSON</button>
            <button mat-raised-button color="warn" [disabled]="endpointResponse==null || parsedSignals==null || TsInterval<1000 || TsInterval==null" (click)="analyzeData(TsInterval)">Analyze Data</button>
          </div>
          <mat-card class="inner-card">
            <mat-card-title-group>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content class="inner-card-text" *ngIf="endpointResponse" [innerText]="toString(endpointResponse)"></mat-card-content>
          </mat-card>
        </mat-card-content>
        <mat-card-actions align="end"></mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Results">
    <mat-card class="results-card">
      <mat-card-title-group>
        <mat-card-title>Results</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div class="parse-button-row">
          <button mat-raised-button [disabled]="analyzedData==null" (click)="exportAnalyzedData()">Export JSON</button>
        </div>
        <mat-card class="inner-result-card">
          <mat-card-title-group>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="inner-card-text" *ngIf="analyzedData" [innerText]="toString(analyzedData)"></mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions align="end"></mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>