.app-toolbar {
    position: fixed;
    z-index: 1000;
    margin-top: 64px;
}

section {
  display: table;
  margin-top: 148px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: absolute;
}

.tab-group {
  margin-top: 148px;
  margin-left: 20px;
  position: absolute;
  width: 95%;
 }

 .apps {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 30% 70%;
}

.example-button-row {
  display: table-cell;
  width: 900px;
}

.parse-button-row {
  display: table-cell;
  width: 400px;
  margin: 8px;
}

.query-button-row {
  display: table-cell;
  width: 1000px;
  margin: 8px;
}

button {
  margin-right: 30px;
}

.example-button-row .mat-button-base {
  margin: 8px;
}

.mat-input-small {
  width: 80px;
  margin-right: 20px;
}

.mat-input-medium {
  width: 150px;
  margin-right: 20px;
}

.mat-input-large {
  width: 200px;
  margin-right: 20px;
}

.mat-filter {
  font-size: 14px;
  width: 100%;
}

  .parse-card {
    margin-top: 20px;
    margin-right: 20px;
    max-height: 1600px;
    width: 90%;
    background-color: rgb(245, 245, 248);
    overflow: hidden;
  }

  .query-card {
    margin-top: 20px;
    margin-right: 20px;
    max-height: 1600px;
    width: 90%;
    background-color: rgb(245, 245, 248);
    overflow: hidden;
  }

  .inner-card {
    margin-top: 20px;
    max-height: 600px;
    width: 91%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
  }

  .inner-card-text {
    max-height: 100%;
  }

  .same-line {
    display: inline;
  }
