.example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mat-icon {
    margin-right: 10px;
  }

  .app-toolbar {
    position: fixed;
    z-index: 2000;
}