.app-toolbar {
    position: fixed;
    z-index: 1000;
    margin-top: 64px;
  }
  
  .Users {
    display: flex;
    flex-direction: column;
    margin-top: 148px;
    margin-left: 200px;
    position: absolute;
  
    }
  
    .example-card {
      max-width: 665px;
      max-height: 180px;
      margin-bottom: 50px;
      background-color: rgb(245, 245, 248);
    }
  
    .example-full-width {
      width: 90%;
    }
  
    .example-button-row {
      display: table-cell;
      width: 700px;
    }
    
    .example-button-row .mat-button-base {
      margin: 8px 8px;
    }
  
    .topline {
      display: inline-grid;
      grid-template-columns: 350px 350px;
    }
  
    .middleline {
      display: table-cell;
      width: 800px;
    }
  
    h3 {
      margin-top: 20px;
    }
  
    .example-margin {
      margin-left: 20px;
    }