<mat-toolbar class="app-toolbar">
    <span>CG-EDGE - IOT Core -  Test Client</span>
  </mat-toolbar>
  <mat-tab-group class="tab-group">
    <mat-tab label="Capture">
    <div class="example-button-row">
      <mat-form-field class="mat-input" appearance="standard">
        <mat-label>Topic to Subscribe</mat-label>
        <input  matInput autocomplete="off" placeholder="mydevice/mytopic" [disabled]="running" [(ngModel)]="topic">
      </mat-form-field>
      <mat-form-field class="mat-input-small" appearance="standard">
        <mat-label>Messages to Capture</mat-label>
        <input  matInput type="number" min="1" max="5000" autocomplete="off" placeholder="1000" [disabled]="running" [(ngModel)]="maxCapturedMessages">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="running" (click)="subscribeToTopic(topic)">Start</button>
      <button mat-raised-button color="primary" [disabled]="!running" (click)="unsubscribeTopic()">Stop</button>
      <button mat-raised-button color="primary" (click)="clearData()">Clear</button>
      <button mat-raised-button color="primary" [disabled]="running" (click)="exportMessages()">Export Messages</button>
      <span> (Point your MQTT Publisher to: apps.cadugrillo.com, port 1884)</span>
    </div>
<div class="table-wrapper">
  <mat-form-field class="mat-filter" appearance="standard">
    <mat-label>Topic Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. mytopic" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="Topic">
    <th mat-header-cell *matHeaderCellDef> Topic </th>
    <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
  </ng-container>
  <ng-container matColumnDef="Timestamp">
    <th mat-header-cell *matHeaderCellDef> Timestamp </th>
    <td mat-cell *matCellDef="let element; let i= dataIndex"> {{recTS[i]}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" [innerText]="toString(element.payload)"></div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[10, 50, 100]"
                    showFirstLastButtons 
                    aria-label="Select page of messages">
</mat-paginator>
</div>
</div>
</mat-tab>
<mat-tab label="Analyze">
  <div class="apps">
    <mat-card class="parse-card">
      <mat-card-title-group>
        <mat-card-title>Telegrams to Analyze</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div class="parse-button-row">
          <button class="parse-button" mat-raised-button color="primary" (click)="getTelegramsToAnalyze()">Get Telegrams</button>
          <button class="parse-button" mat-raised-button color="primary" (click)="importTelegramsToAnalyze()">Import from File</button>
          <input type="file" #json accept=".json" style="display: none" (change)="onTelegramasAdded()"/>
        </div>
        <mat-card class="inner-card">
          <mat-card-title-group>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="inner-card-text" *ngIf="telegramsToAnalize" [innerText]="toStringData(telegramsToAnalize)"></mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions align="end"></mat-card-actions>
    </mat-card>
    <mat-card class="query-card">
      <mat-card-title-group>
        <mat-card-title>Analysis Result</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div class="query-button-row">
          <mat-form-field class="mat-input-medium" appearance="standard">
            <mat-label>TS Interval (ms)</mat-label>
            <input  matInput type="number" min="1000" autocomplete="off" placeholder="1000ms" [(ngModel)]="TsInterval" matTooltip="Interval between two records (ms)">
          </mat-form-field>
          <button mat-raised-button color="warn" [disabled]="telegramsToAnalize==null || TsInterval<1000 || TsInterval==null || analysisStatus=='Analysis Status: Running'" (click)="analyzeTelegramsData(TsInterval)">Analyze Telegrams</button>
          <button mat-raised-button [disabled]="analysisStatus!='Analysis Status: Running'" (click)="abortAnalysys()">Abort Analysis</button>
          <button mat-raised-button color="primary" [disabled]="analysisStatus=='Analysis Status: Running'" (click)="getAnalysysResults()">Get Results</button>
          <button mat-raised-button [disabled]="analyzedData==null" (click)="exportAnalyzedData()">Export JSON</button>
          <button mat-raised-button (click)="clearAnalyzedData()">Clear all</button>
          <button mat-raised-button (click)="getAnalysysStatus()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <mat-card class="inner-card">
          <mat-card-title-group>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="inner-card-text" *ngIf="analysisStatus">{{analysisStatus}}</mat-card-content>
        </mat-card>
        <mat-card class="inner-card">
          <mat-card-title-group>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="inner-card-text" *ngIf="analyzedData" [innerText]="toStringData(analyzedData)"></mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions align="end"></mat-card-actions>
    </mat-card>
  </div>
</mat-tab>
</mat-tab-group>