.app-toolbar {
    position: fixed;
    z-index: 1000;
    margin-top: 64px;
}

.tab-group {
  margin-top: 148px;
  margin-left: 20px;
  position: absolute;
  width: 95%;
 }

.example-button-row {
  margin-left: 20px;
  display: table-cell;
  width: 1600px;
}

.example-button-row .mat-button-base {
  margin: 8px;
}

.mat-input {
  margin-top: 20px;
  width: 400px;
  margin-left: 10px;
}

.mat-input-small {
  margin-top: 20px;
  width: 120px;
  margin-left: 20px;
}

.mat-input-medium {
  width: 150px;
  margin-right: 20px;
}

.mat-filter {
  font-size: 14px;
  width: 100%;
}

.table-wrapper {
  margin-left: 10px;
  width: 99%;
  margin-bottom: 20px;
 }

table {
  width: 100%;
}
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .apps {
    width: 80%;
  }

  .query-card {
    margin-top: 20px;
    margin-right: 20px;
    max-height: 1600px;
    width: 95%;
    background-color: rgb(245, 245, 248);
    overflow: hidden;
  }

  .inner-card {
    margin-top: 20px;
    max-height: 600px;
    width: 97%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
  }

  .parse-button-row {
    display: table-cell;
    width: 400px;
    margin: 8px;
  }
  
  .query-button-row {
    display: table-cell;
    width: 1000px;
    margin: 8px;
  }

  .parse-button {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .inner-card-text {
    max-height: 100%;
  }

  .same-line {
    display: inline;
  }

  button {
    margin-right: 30px;
  }

