<mat-toolbar class="app-toolbar" color="primary">
  <span style="cursor:pointer" (click)="openWebPage()">PERFORMANCE ANALYZER</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" *ngIf="isAuthenticated" routerLink="home">Home</button>
  <button mat-icon-button class="example-icon" *ngIf="!isAuthenticated" routerLink="signIn">Sign in</button>
  <button mat-icon-button class="example-icon" *ngIf="!isAuthenticated" routerLink="signUp">Sign up</button>
  <button mat-icon-button class="example-icon" *ngIf="isAuthenticated" routerLink="profile">Profile</button>
  <button mat-icon-button class="example-icon" (click)="signOut()" *ngIf="isAuthenticated" routerLink="">Sign out</button>
</mat-toolbar>
<router-outlet></router-outlet>