<mat-toolbar class="app-toolbar">
  <span>Available Apps</span>
</mat-toolbar>
<div class="apps">
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Signals/Records Analyzer</mat-card-title>
    <mat-card-subtitle>Analyze OnCumulus bulk signals/records at any given timestamp.</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions align="end">
      <button mat-button routerLink="/analyze-signals">Open</button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>IOT Core - Test Client</mat-card-title>
    <mat-card-subtitle>Check and/or capture the data traffic at IOT Core Broker.</mat-card-subtitle>
    
  </mat-card-title-group>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions align="end">
      <button mat-button routerLink="/mqtt-client">Open</button>
    </mat-card-actions>
</mat-card>
<div>