<mat-toolbar class="app-toolbar">
    <span>Parse Signals</span>
  </mat-toolbar>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="importConfig()">Import XLSX</button>
      <input type="file" #file accept=".xlsx" style="display: none" (change)="onFilesAdded()"/>
    </div>
</section>



<mat-tab-group class="tab-group">
  <mat-tab label="Configuration">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Parse Signals</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div class="parse-button-row">
          <button mat-raised-button color="primary" (click)="importConfig()">Import XLSX</button>
          <input type="file" #file accept=".xlsx" style="display: none" (change)="onFilesAdded()"/>
          <button mat-raised-button color="primary" (click)="exportMessages()">Export JSON</button>
        </div>
        <mat-card class="inner-card">
          <mat-card-title-group>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="inner-card-text" *ngIf="parsedSignals" [innerText]="toString(parsedSignals)"></mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions align="end"></mat-card-actions>
  </mat-card>
  </mat-tab>
  <mat-tab label="Results">
    <p>Placeholder for results</p>
  </mat-tab>
</mat-tab-group>